backend/node_modules/
backend/vercel.json
Optimization_Architecture_Report.md
features.md
features_v2.md
client_folders.md
BackUp/
backend/.env.local
frontend/.env.local
# clientSide/
frontend/node_modules/
prompt.txt
Homepage_idea.md
profile_idea.md
dashboard_idea.md
start.txt
# Ignore environment files
.env
.env.local
".env.local"

# Playwright
node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
